# App
PORT=8080
NODE_ENV=development

# Front
BASE_URL_FRONT=

# Backend
REST_API_URL=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION_INTERVAL=

# Argon2
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=4
ARGON2_PARALLELISM=2

# Reset password
RESET_PASSWORD_EXPIRES_HOURS=24

# Database
DB_CONNECTION=mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb]?retryWrites=true&w=majority

# Email
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_MAIL_SENDER=
FROM_EMAIL=
FROM_NAME=CardMesh

# Limiter
WINDOW_MS=900000
MAX_REQUESTS=500

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173
